<h1>Manage Your Orders</h1>
<h3>Total Revenue: <%= @total_revenue %></h3>
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Revenue</th>
    </tr>
  </thead>
  <% @revenue_by_status.each do |status, revenue| %>
    <tr>
      <td><%= status %></td>
      <td><%= revenue %></td>
    </tr>
  <% end %>
</table>

<%= form_tag(merchant_fulfillment_path, method: :get) do %>
  <%= label_tag(:status, "Status") %>
  <%= select_tag "status", options_for_select(@statuses, params["status"]), include_blank: "all" %>
  <%= submit_tag("Submit", class: "button") %>
<% end %>
<% if @orders.length > 0 %>
  <table>
    <tr>
      <thead>
        <th scope="columns">Order#</th>
        <th scope="columns">Purchase Date</th>
        <th scope="columns">Status</th>
        <th scope="columns">Revenue</th>
        <th scope="columns">Items Sold</th>
        <th scope="columns">Order#</th>
      </thead>
    </tr>
    <% @orders.each do |order_id, status_revenue_hash| %>
    <tr>
      <td><%= link_to order_id, merchant_order_path(@merchant.id, order_id)%></td>
      <td><%= status_revenue_hash[:purchase_date] %></td>
      <td><%= status_revenue_hash[:status] %></td>
      <td><%= number_to_currency(status_revenue_hash[:revenue]) %></td>
      <td>
        <ul>
          <% status_revenue_hash[:items].each do |item| %>
            <li>
              <%= item.quantity %> <%= link_to item.product.name, product_path(item.product_id) %>: <%= number_to_currency(item.product.price * item.quantity) %>
            </li>
          <% end %>
        </ul>
      </td>
      <% if status_revenue_hash[:status] == "cancelled" %>
        <td>Order was cancelled</td>
      <% elsif status_revenue_hash[:unshipped] == true %>
        <td><%= link_to "Mark shipped", merchant_ship_path(@merchant.id, order_id), method: :patch, class: 'button' %></td>
      <% else %>
        <td>Products have been shipped</li>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>
