<h1 class=heading><%=@merchant.username%>'s treeBae</h1>
<div class=price-heading>
<ul>
  <li> <strong>Joined: </strong> <%= pretty_date(@merchant.created_at) %> </li>
  <li> <strong>Email: </strong>  <%= @merchant.email %></li>
</ul>

<% if @merchant.products.count > 0 %>
  <table>
    <tr>
      <thead>
        <th scope="columns">Product</th>
        <th scope="columns">Quantities</th>
        <th scope="columns">Launched</th>
        <th scope="columns">Update</th>
        <th scope="columns">Retire</th>
      </thead>
    </tr>
    <%  @merchant.products.each do |product| %>
      <tr>
        <td><%= link_to product.name.capitalize, product_path(product.id) %></td>
        <td><%= product.quantity %></td>
        <td><%= pretty_date(product.created_at) %></td>
        <td><%= link_to "Update", edit_product_path(product.id), class: "button" %></td>
        <td><%= link_to (product.status == "active") ? "Retire" : "Activate", retire_path(product.id), class: "button" %></td>
      </tr>
    <%  end %>
  </table>
  <% else %>
    <p>Don't be a stick in the mud, <%= link_to "create", new_product_path%> a product!</p>
  <% end %>
</div>
<%= link_to "Create a product", new_product_path, class: "button" %>
<%= link_to "Fulfillment", merchant_fulfillment_path(@merchant.id) ,class: "button" %> <%# TODO: ADD ORDER FUFILLEMENT PATH %>
