<div class="columns small-12 medium-8 medium-offset-2 large-6 large-offset-3">
<%= form_tag(path, method: method) do %>

  <%= hidden_field_tag(:merchant_id, @merchant.id) %>

  <%= label_tag(:name, "Name") %>
  <%= text_field_tag(:name, @product.name, :maxlength => 30) %>

  <%= label_tag(:price, "Price") %>
  <%= number_field_tag(:price, @product.price, min: 0.01, step: 0.01) %>

  <%= label_tag(:quantity, "Quantity") %>
  <%= number_field_tag(:quantity, @product.quantity, min: 0, step: 1) %>

  <%= label_tag(:categories, "Categories") %>
  <%= select_tag "categories", options_for_select(@categories, params["categories"]), include_blank: "none", :multiple => true %>
  <%= label_tag(:category, "Category") %>
  <%= text_field_tag(:category) %>

<<<<<<< HEAD
  <%= radio_button_tag(:status, "active", (@product.status == "active")) %>
  <%= label_tag(:status, "Active")%>
  <%= radio_button_tag(:status, "retired", (@product.status == "retired")) %>
=======
  <%= radio_button_tag(:status, "active", @product.status == "active") %>
  <%= label_tag(:status, "Active")%>
  <%= radio_button_tag(:status, "retired", @product.status == "retired") %>
>>>>>>> e4a31e57128655fa0bb1949cdf42aa0ac03a1d50
  <%= label_tag(:status, "Retired") %>

  <%= label_tag(:description) %>
  <%= text_field_tag(:description, @product.description) %>

  <%= label_tag(:photo_url, "Image URL: ") %>
  <%= text_field_tag(:photo_url, @product.photo_url) %>

  <%= submit_tag(submit_name, class: "button", :maxlength => 30) %>

  <%= link_to "Cancel", root_path, method: :get, class: 'button' %>

<% end %>
</div>
