<h1 class="text-center">treebae Deals</h1>
<%= form_tag(root_path, method: :get) do %>
<section class="row filter">
  <%= form_tag(root_path, method: :get) do %>
    <div class="column small-5">
      <%= label_tag(:category, "Category") %>
      <%= select_tag "category", options_for_select(@categories, params["category"]), include_blank: "all" %>
    </div>
    <div class = "column small-5">
      <%= label_tag(:merchant, "Merchant") %>
      <%= select_tag "merchant", options_from_collection_for_select(Merchant.active_merchants, "id", "username", selected: params[:merchant].to_i), include_blank: "all" %>
    </div>
    <div class = "column small-2">
      <%= submit_tag("Search", class: "button") %>
    </div>
  <% end %>
</section>
<section class = "page columns small-6 small-offset-3 large-4 large-offset-4">
  <%= will_paginate @products %>
</section>
<section class = "row full-width">
    <% @products.each do |product| %>
    <article class = "product-card columns small-10 medium-5 large-3 text-center">
      <figure>
        <a href="<%= product_path(product.id)%>"><%= product_photo(product) %></a>
      </figure>
      <div class="product-card-details">
        <h4><%= link_to(product.name.capitalize, product_path(product.id)) %></h4>
        <% if product.reviews.count > 0 %>
          <div class="dynamic-star">
            <span class="dynamic-star overlay" style="<%= "width: #{product.average_rating / 5.0 * 100}%" %>" >
              <span>&#x2605</span><span>&#x2605</span><span>&#x2605</span><span>&#x2605</span><span>&#x2605</span>
            </span>
            <div class="dynamic-star underlay" >
              <span>&#x2605</span><span>&#x2605</span><span>&#x2605</span><span>&#x2605</span><span>&#x2605</span>
            </div>
          </div>
          <span>
            <%= product.reviews.count %>
          </span>
        <% else %>
          <span>No reviews</span>
        <% end %>
        <h5><%= number_to_currency(product.price) %></h4>
        <%= link_to "Add to cart", add_order_item_path(session[:order_id], product.id), method: :patch, class: :button %>
      </div>
    </article>
    <% end %>
      <% end %>
</section>
